<ion-content class="login-page">
  <div class="bg-gradient">
    <div class="brand">
      <div class="logo">
        <ion-icon name="car-outline" style="color:#00ffc6; font-size:42px;"></ion-icon>
      </div>
      <h1>ParkinGO</h1>
      <p>Book your parking space easily</p>
    </div>

    <form [formGroup]="reservaForm" (ngSubmit)="saveReservation()" class="login-form">

      <!-- Vehicle Type -->
      <ion-item lines="none" class="custom-item">
        <ion-select formControlName="vehicleType" placeholder="Select Vehicle Type" interface="popover"
          (ionChange)="updateType()">
          <ion-select-option *ngFor="let type of vehicleTypes" [value]="type">
            {{ type }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Plate -->
      <ion-item lines="none" class="custom-item">
        <ion-input formControlName="plate" placeholder="License Plate" required></ion-input>
      </ion-item>

      <!-- Vehicle Model -->
      <ion-item lines="none" class="custom-item">
        <ion-input formControlName="model" placeholder="Vehicle Model" required></ion-input>
      </ion-item>

      <!-- Space to Use -->
      <ion-item lines="none" class="custom-item" *ngIf="availableSpaces.length > 0">
        <ion-select formControlName="space" placeholder="Select Space" interface="popover"
          (ionChange)="onSelectSpace($event)">
          <ion-select-option *ngFor="let space of availableSpaces" [value]="space.id">
            {{ space.code }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Price (read-only) -->
      <ion-item lines="none" class="custom-item" *ngIf="pricePerHour > 0">
        <ion-input readonly [value]="pricePerHour | currency:'COP'" placeholder="Price per Hour"></ion-input>
      </ion-item>

      <!-- Submit -->
      <ion-button expand="block" class="login-button" type="submit" [disabled]="reservaForm.invalid">
        Register
      </ion-button>
    </form>
  </div>

  <app-submenu (navigate)="go($event)"></app-submenu>
</ion-content>
