<nav class="admin-submenu" role="navigation" aria-label="Admin submenu">
  <ul>
    <li><button type="button" (click)="go('clientes')"><ion-icon name="person-outline"></ion-icon><span>Clientes</span></button></li>
    <li><button type="button" (click)="go('reportes')"><ion-icon name="document-text-outline"></ion-icon><span>Reportes</span></button></li>
    <li><button type="button" (click)="go('ingreso')"><ion-icon name="add"></ion-icon><span>Ingreso</span></button></li>
    <li><button type="button" (click)="go('retirar')"><ion-icon name="trash-outline"></ion-icon><span>Retirar</span></button></li>
    <li><button type="button" (click)="go('config')"><ion-icon name="settings-outline"></ion-icon><span>Config</span></button></li>
    <li><button type="button" (click)="go('logout')" class="logout"><ion-icon name="log-out-outline"></ion-icon><span>Salir</span></button></li>
  </ul>
</nav>
