<nav class="submenu" role="navigation" aria-label="submenu">
  <ul>
    <li><button type="button" (click)="go('index')"><ion-icon name="clipboard-outline"></ion-icon><span>Reservations</span></button></li>
    <li><button type="button" (click)="go('reservations')"><ion-icon name="add"></ion-icon><span>Reservations</span></button></li>
    <li><button type="button" (click)="go('config')"><ion-icon name="settings-outline"></ion-icon><span>Config</span></button></li>
    <li><button type="button" (click)="go('logout')" class="logout"><ion-icon name="log-out-outline"></ion-icon><span>Salir</span></button></li>
  </ul>
</nav>
